@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Space Grotesk';
  src: url('../fonts/SpaceGrotesk.ttf') format('truetype');
}

@font-face {
  font-family: 'Mersad';
  src: url('../fonts/Mersad.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Space Grotesk','Mersad', sans-serif;
}

